@model IEnumerable<CodingWiki_Model.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create" asp-controller="Category">Create</a>
<a asp-action="CreateFive" asp-controller="Category">Create 5</a>
<a asp-action="DeleteLastFive" asp-controller="Category">Delete Last 5</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-controller="Category" asp-action="Details"  asp-route-id="@item.CategoryId">Details</a> |
                <a asp-controller="Category" asp-action="Delete"  asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
